.home-child1,
.mask-group-icon4 {
  position: absolute;
  top: 153.563rem;
  left: 0;
  width: 90rem;
  height: 25.938rem;
}
.mask-group-icon4 {
  object-fit: cover;
}
.home-child1 {
  background-color: var(--color-darkslategray-200);
}
.businesspeoplewithheadsetsusin-icon3 {
  position: absolute;
  top: 179.5rem;
  left: calc(50% - 720px);
  width: 90rem;
  height: 22.625rem;
  object-fit: cover;
}
.frame-child5 {
  position: absolute;
  width: calc(100% - 20px);
  top: 0.625rem;
  right: 0.625rem;
  left: 0.625rem;
  background-color: var(--color-mediumblue);
  height: 3.063rem;
}
.frame-child6 {
  position: absolute;
  top: -1rem;
  left: 30.813rem;
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
}
.rectangle-parent1 {
  position: absolute;
  top: -0.625rem;
  left: calc(50% - 730px);
  background-color: var(--color-white);
  width: 91.25rem;
  height: 4.313rem;
}
.home-child2 {
  position: absolute;
  top: 3.063rem;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 90rem;
  height: 5.188rem;
}
.maskgroup-icon4 {
  position: absolute;
  top: 8.25rem;
  left: calc(50% - 720px);
  width: 90rem;
  height: 26.813rem;
  object-fit: cover;
}
.capa-1-icon4 {
  position: absolute;
  top: 3.875rem;
  left: 9.375rem;
  width: 11.375rem;
  height: 3.563rem;
  overflow: hidden;
}
.el-vuelo-cierra4 {
  position: absolute;
  top: 0.75rem;
  left: calc(50% - 264px);
  display: inline-block;
  color: var(--color-gainsboro-100);
  text-align: center;
  width: 36.875rem;
}
.sobre-la-empresa2,
.tarifa-y-calculadora2 {
  position: absolute;
  top: 5rem;
  left: calc(50% - 273px);
  font-size: var(--font-size-mid);
  text-transform: uppercase;
  cursor: pointer;
}
.tarifa-y-calculadora2 {
  left: calc(50% - 82px);
}
.de-manera-rpida4,
.en-miami-box4,
.internacionales-para-que4,
.te-traemos-todas4 {
  margin: 0;
}
.te-traemos-todas-container4 {
  position: absolute;
  top: 48.625rem;
  left: 9.375rem;
  line-height: 1.75rem;
}
.conoc-las-historias4 {
  position: absolute;
  top: 159.75rem;
  left: calc(50% - 396px);
  line-height: 1.75rem;
  color: var(--color-gainsboro-100);
  text-align: center;
}
.direccin-personal-en4,
.te-proporcionamos-una4 {
  margin: 0;
}
.te-proporcionamos-una-container4 {
  position: absolute;
  top: 76.375rem;
  left: 41.063rem;
  line-height: 1.625rem;
}
.contacto2,
.preguntas-frecuentes2,
.tiendas2 {
  position: absolute;
  top: 5rem;
  left: calc(50% + 144px);
  font-size: var(--font-size-mid);
  text-transform: uppercase;
}
.contacto2,
.preguntas-frecuentes2 {
  left: calc(50% + 245px);
}
.contacto2 {
  left: calc(50% + 482px);
}
.home-child3,
.home-child4,
.rectangle31 {
  position: absolute;
  top: 8.25rem;
  left: 0;
  background-color: var(--color-mediumblue);
  width: 90rem;
  height: 0.938rem;
}
.home-child3,
.home-child4 {
  top: 34.625rem;
  background-color: var(--color-orangered-200);
  height: 0.438rem;
}
.qu-hacemos4 {
  position: absolute;
  top: 45.625rem;
  left: 9.375rem;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
}
.estamos-listos-para-ayudarte-e4,
.nuestro-equipo-de4,
.tus-consultas-y4 {
  margin: 0;
}
.nuestro-equipo-de-container4 {
  position: absolute;
  top: 187.688rem;
  left: 9.375rem;
  line-height: 1.75rem;
}
.no-dudes-en4 {
  position: absolute;
  top: 184.688rem;
  left: 9.375rem;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
}
.compradores-internacionales-ho4,
.con-miami-box4,
.una-experiencia-de4,
.y-del-mundo4 {
  margin: 0;
}
.con-miami-box-container4 {
  position: absolute;
  top: 208.688rem;
  right: 9.938rem;
  line-height: 1.75rem;
}
.registrate4 {
  top: 205.688rem;
  right: 34.5rem;
}
.cmo-lo-hacemos4,
.registrate4,
.testimonios4 {
  position: absolute;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
}
.cmo-lo-hacemos4 {
  top: 70.375rem;
  left: 34.125rem;
}
.testimonios4 {
  top: 156.75rem;
  left: calc(50% - 106px);
  color: var(--color-gainsboro-100);
  text-align: center;
}
.icon5 {
  position: absolute;
  top: 31.938rem;
  right: 0;
  width: 47.688rem;
  height: 35.813rem;
  object-fit: cover;
}
.capa1-icon4 {
  position: absolute;
  top: 56.563rem;
  left: -8.312rem;
  width: 19.75rem;
  height: 20.938rem;
  overflow: hidden;
}
.group-child {
  position: absolute;
  top: 0.188rem;
  left: 0;
  max-height: 100%;
  width: 36.25rem;
}
.group-item {
  position: absolute;
  top: 0;
  left: 36.063rem;
  background-color: var(--color-mediumblue);
  width: 39.688rem;
  height: 0.313rem;
}
.group-icon,
.vector-parent {
  position: absolute;
  top: 64.5rem;
  left: 14.25rem;
  width: 75.75rem;
  height: 0.313rem;
}
.group-icon {
  top: 179.313rem;
  left: -0.187rem;
  object-fit: contain;
}
.vector-32-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b12 {
  position: absolute;
  top: 36.89%;
  left: 23.6%;
  line-height: 1.75rem;
}
.modo-de-aislamiento3 {
  position: absolute;
  top: 74.75rem;
  left: 34.125rem;
  width: 5.563rem;
  height: 6.438rem;
  overflow: hidden;
  font-size: var(--font-size-61xl);
  color: var(--color-gainsboro-100);
}
.al-realizar-tu4,
.esta-direccin-de4,
.simplemente-proporcions4 {
  margin: 0;
}
.al-realizar-tu-container4 {
  position: absolute;
  top: 75.563rem;
  left: 67.75rem;
  line-height: 1.625rem;
}
.vector-33-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b13 {
  position: absolute;
  top: 36.89%;
  left: 23.6%;
  line-height: 1.75rem;
}
.mododeaislamiento3 {
  position: absolute;
  top: 74.75rem;
  left: 60.813rem;
  width: 5.563rem;
  height: 6.438rem;
  overflow: hidden;
  font-size: var(--font-size-61xl);
  color: var(--color-gainsboro-100);
}
.directamente-en-la4,
.te-entregamos-tus4,
.tu-hogar-en4 {
  margin: 0;
}
.te-entregamos-tus-container4 {
  position: absolute;
  top: 84.75rem;
  left: 67.75rem;
  line-height: 1.625rem;
}
.vector-34-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b14 {
  position: absolute;
  top: 36.89%;
  left: 22.47%;
  line-height: 1.75rem;
}
.modo-de-aislamiento-23 {
  position: absolute;
  top: 83.938rem;
  left: 60.813rem;
  width: 5.563rem;
  height: 6.438rem;
  overflow: hidden;
  font-size: var(--font-size-61xl);
  color: var(--color-gainsboro-100);
}
.direccin-en-miami4,
.encargamos-de-consolidar4,
.tus-paquetes-llegan4,
.y-enviarlos4 {
  margin: 0;
}
.tus-paquetes-llegan-container4 {
  position: absolute;
  top: 84.75rem;
  left: 41.063rem;
  line-height: 1.625rem;
}
.vector-35-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b15 {
  position: absolute;
  top: 36.89%;
  left: 23.6%;
  line-height: 1.75rem;
}
.modo-de-aislamiento-33 {
  position: absolute;
  top: 83.938rem;
  left: 34.125rem;
  width: 5.563rem;
  height: 6.438rem;
  overflow: hidden;
  font-size: var(--font-size-61xl);
  color: var(--color-gainsboro-100);
}
.youngcaucasianwomanmovingnew-1-icon2 {
  position: absolute;
  top: 65.938rem;
  left: 3.313rem;
  width: 32.625rem;
  height: 30.875rem;
  object-fit: cover;
}
.home-child5 {
  position: absolute;
  top: 96.813rem;
  left: 0;
  background-color: var(--color-mediumblue);
  width: 90rem;
  height: 15.563rem;
}
.home-child6 {
  position: absolute;
  bottom: -0.437rem;
  left: -1.187rem;
  background-color: var(--color-darkslategray-100);
  width: 91.188rem;
  height: 19.625rem;
}
.capa-1-2-icon4,
.capa-1-3-icon4 {
  position: absolute;
  bottom: 9.375rem;
  left: 68.813rem;
  width: 0.813rem;
  height: 0.813rem;
  overflow: hidden;
}
.capa-1-3-icon4 {
  bottom: 11.313rem;
}
.capa-1-4-icon3,
.capa-1-5-icon3,
.layer-1-icon3 {
  position: absolute;
  top: 242.188rem;
  left: 31.25rem;
  width: 0.875rem;
  height: 0.875rem;
  overflow: hidden;
}
.capa-1-5-icon3,
.layer-1-icon3 {
  top: 240.188rem;
}
.capa-1-5-icon3 {
  top: 238.313rem;
  width: 0.813rem;
  height: 0.813rem;
}
.home-child7,
.home-child8 {
  position: absolute;
  top: 165.063rem;
  left: 12.813rem;
  background-color: var(--color-white);
  width: 30.688rem;
  height: 10.688rem;
}
.home-child8 {
  left: 46.938rem;
}
.se-calcula-en4 {
  font-family: var(--font-heebo);
}
.el-costo-del-envo-de-tus-comp4 {
  margin: 0;
}
.adems4,
.nuestra-suscripcin-es4,
.nuestras-tarifas-cubren4,
.sin-costos-adicionales4 {
  font-family: var(--font-heebo);
}
.adems-nuestras-tarifas-cubre4,
.los-libros-cd4 {
  margin: 0;
}
.el-costo-del-container4 {
  position: absolute;
  top: 102.563rem;
  left: 9.375rem;
  line-height: 1.75rem;
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 68.375rem;
  height: 7.063rem;
}
.lorem-ipsum-dolor6,
.ut-agittis-tortor6 {
  margin: 0;
}
.lorem-ipsum-dolor-container4 {
  position: absolute;
  top: 168.75rem;
  left: 15.688rem;
  line-height: 1.75rem;
  display: inline-block;
  width: 24.938rem;
  height: 5.313rem;
}
.cunto-sale4 {
  position: absolute;
  top: 99.563rem;
  left: 9.375rem;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-gainsboro-100);
}
.nombre-y-apellido4 {
  position: absolute;
  top: 166.75rem;
  left: 15.688rem;
  font-size: var(--font-size-3xl);
  line-height: 1.75rem;
  display: inline-block;
  width: 14.063rem;
  height: 1.688rem;
}
.lorem-ipsum-dolor7,
.ut-agittis-tortor7 {
  margin: 0;
}
.loremipsumdolorsitametconsecte2,
.nombreyapellido2 {
  position: absolute;
  top: 168.75rem;
  left: 49.813rem;
  line-height: 1.75rem;
  display: inline-block;
  width: 24.938rem;
  height: 5.313rem;
}
.nombreyapellido2 {
  top: 166.75rem;
  font-size: var(--font-size-3xl);
  width: 14.063rem;
  height: 1.688rem;
}
.capa-1-6-icon4 {
  position: absolute;
  top: 163.5rem;
  right: -5.187rem;
  width: 17.563rem;
  height: 36.125rem;
  overflow: hidden;
}
.rectangle101 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumblue);
  width: 7.25rem;
  height: 2.5rem;
}
.contactanos9 {
  position: absolute;
  top: 0.375rem;
  left: 0.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 6.313rem;
  height: 1.688rem;
}
.rectangle10-group {
  position: absolute;
  top: 194.313rem;
  left: 9.375rem;
  width: 7.25rem;
  height: 2.5rem;
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro-100);
}
.rectangle-10-22 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orangered-200);
  width: 11rem;
  height: 2.5rem;
}
.quiero-registrarme4 {
  position: absolute;
  top: 0.375rem;
  right: 0.625rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 9.813rem;
  height: 1.688rem;
}
.rectangle-10-2-container {
  position: absolute;
  top: 216.938rem;
  right: 35.75rem;
  width: 11rem;
  height: 2.5rem;
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro-100);
}
.convertido01-1-icon3 {
  position: absolute;
  top: 198.625rem;
  left: 9.375rem;
  width: 27.625rem;
  height: 27.063rem;
  object-fit: cover;
}
.capa-1-7-icon4 {
  position: absolute;
  bottom: 7.813rem;
  left: 9.375rem;
  width: 16.563rem;
  height: 5.313rem;
  overflow: hidden;
}
.contactanos10 {
  position: absolute;
  bottom: 13.125rem;
  left: 31.25rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-gainsboro-100);
}
.telfono5 {
  font-family: var(--font-heebo);
}
.telfono-598-2-716-2222-095 {
  margin: 0;
}
.email5 {
  font-family: var(--font-heebo);
}
.email-infomiami-boxcom5 {
  margin: 0;
}
.direccin5 {
  font-family: var(--font-heebo);
}
.direccin-solano-garcia-24765 {
  margin: 0;
}
.horario5 {
  font-family: var(--font-heebo);
}
.horario-lunes-a-viernes-0905 {
  margin: 0;
}
.seguinos6,
.telfono-598-2-container5 {
  position: absolute;
  color: var(--color-gainsboro-100);
}
.telfono-598-2-container5 {
  bottom: 4.688rem;
  left: 32.438rem;
  font-size: var(--font-size-base);
  line-height: 2rem;
}
.seguinos6 {
  bottom: 13.125rem;
  left: 68.813rem;
  text-transform: uppercase;
  font-weight: 800;
}
.miami-box6,
.miamiboxuy6 {
  margin: 0;
}
.miami-box-miamiboxuy6 {
  position: absolute;
  bottom: 8.688rem;
  left: 69.938rem;
  font-size: var(--font-size-base);
  line-height: 2rem;
  color: var(--color-gainsboro-100);
}
.capa-1-8-icon3 {
  position: absolute;
  top: 236.313rem;
  left: 31.25rem;
  width: 0.813rem;
  height: 0.813rem;
  overflow: hidden;
}
.rectangle-10-31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orangered-200);
  width: 11rem;
  height: 2.5rem;
}
.calcular4 {
  position: absolute;
  top: 0.375rem;
  left: calc(50% - 79px);
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 9.813rem;
  height: 1.688rem;
}
.rectangle-10-3-group {
  position: absolute;
  top: 28.75rem;
  left: 16.313rem;
  width: 11rem;
  height: 2.5rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro-100);
}
.costo-en-usd4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.75rem;
}
.group-inner {
  position: absolute;
  top: 2.313rem;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 43.563rem;
  height: 2.875rem;
}
.peso-en-kg4 {
  position: absolute;
  top: 6.5rem;
  left: 0;
  line-height: 1.75rem;
}
.group-child1 {
  position: absolute;
  top: 8.813rem;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 43.563rem;
  height: 2.875rem;
}
.tipo-de-encomienda4 {
  position: absolute;
  top: 13rem;
  left: 0;
  line-height: 1.75rem;
}
.group-child2 {
  position: absolute;
  top: 15.313rem;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 43.563rem;
  height: 2.875rem;
}
.con-franquicia4,
.destino4 {
  position: absolute;
  line-height: 1.75rem;
}
.destino4 {
  top: 19.5rem;
  left: 0;
}
.con-franquicia4 {
  top: 26rem;
  left: 1.438rem;
  font-weight: 500;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 21.813rem;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 43.563rem;
  height: 2.875rem;
}
.group-child4 {
  top: 26.313rem;
  width: 0.938rem;
  height: 0.938rem;
}
.precio4 {
  position: absolute;
  top: 3rem;
  left: 1.438rem;
  line-height: 1.75rem;
}
.peso4,
.seleccione-el-destino4,
.seleccione-tipo-de4 {
  position: absolute;
  top: 9.375rem;
  left: 1.438rem;
  line-height: 1.75rem;
}
.seleccione-el-destino4,
.seleccione-tipo-de4 {
  top: 15.875rem;
}
.seleccione-el-destino4 {
  top: 22.375rem;
}
.group-parent {
  position: absolute;
  top: 117.938rem;
  left: 9.375rem;
  width: 43.563rem;
  height: 31.25rem;
}
.transport-van-car-mock-up-left-icon2 {
  position: absolute;
  top: 120.813rem;
  left: 55.625rem;
  width: 56.813rem;
  height: 22.625rem;
  object-fit: cover;
}
.icon-chevron-right2 {
  height: 0.75%;
  width: 1.43%;
  top: 68.23%;
  right: 10.31%;
  bottom: 31.02%;
  left: 88.26%;
}
.icon-chevron-right2,
.iconchevronright4,
.vector-90-icon1,
.vector-91-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconchevronright4 {
  height: 0.75%;
  width: 1.43%;
  top: 68.23%;
  right: 88.29%;
  bottom: 31.02%;
  left: 10.28%;
  object-fit: contain;
}
.vector-90-icon1,
.vector-91-icon {
  height: 6.26%;
  width: 15%;
  top: 38.97%;
  right: -7.5%;
  bottom: 54.77%;
  left: 92.5%;
}
.vector-91-icon {
  height: 5.27%;
  width: 12.59%;
  top: 39.47%;
  right: -6.27%;
  bottom: 55.26%;
  left: 93.68%;
}
.vector-92-icon {
  position: absolute;
  top: 5.125rem;
  left: calc(50% + 601px);
  width: 1.188rem;
  height: 1.25rem;
}
.home2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 248.438rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-heebo);
}
