.home-child,
.mask-group-icon {
  position: absolute;
}
.main-content-child {
  height: 0.313rem;
  width: 75.75rem;
  bottom: -0.125rem;
  left: -0.187rem;
  object-fit: contain;
  z-index: 2;
}
.main-content {
  width: 90rem;
  top: 153.563rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.businesspeoplewithheadsetsusin-icon,
.maskgroup-icon {
  width: 90rem;
  height: 25.938rem;
}
.mask-group-icon {
  object-fit: cover;
  z-index: unset;
}
.home-child {
  background-color: var(--color-darkslategray-200);
}
.businesspeoplewithheadsetsusin-icon {
  position: absolute;
  top: 179.5rem;
  left: calc(50% - 720px);
  width: 90rem;
  height: 22.625rem;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  margin: 0 !important;
  top: -0.75rem;
  left: -27.937rem;
  background-color: var(--color-mediumblue);
  z-index: unset;
}
.frame-item {
  position: absolute;
  top: -1rem;
  left: 30.813rem;
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
}
.rectangle-parent {
  position: absolute;
  top: -0.625rem;
  left: -0.625rem;
  width: 91.25rem;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-xl) var(--padding-lg)
    var(--padding-2xl);
  box-sizing: border-box;
  z-index: unset;
}
.home-item,
.maskgroup-icon {
  position: absolute;
  width: 90rem;
}
.home-item {
  top: 3.063rem;
  left: 0;
  background-color: var(--color-gainsboro-100);
  height: 5.188rem;
}
.maskgroup-icon {
  top: 8.25rem;
  left: calc(50% - 720px);
  height: 26.813rem;
  object-fit: cover;
}
.capa-1-icon {
  position: absolute;
  top: 3.875rem;
  left: 9.375rem;
  width: 11.375rem;
  height: 3.563rem;
  overflow: hidden;
}
.el-vuelo-cierra {
  position: absolute;
  top: 0.75rem;
  left: calc(50% - 264px);
  display: inline-block;
  min-width: 4.438rem;
}
.sobre-la-empresa,
.tarifa-y-calculadora {
  position: absolute;
  top: 5rem;
  left: calc(50% - 273px);
  font-size: var(--font-size-mid);
  text-transform: uppercase;
  z-index: 2;
}
.tarifa-y-calculadora {
  left: calc(50% - 82px);
}
.te-traemos-todas {
  margin: 0;
}
.te-traemos-todas-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.capa-1-icon {
  position: absolute;
  height: calc(100% - 26px);
  top: 0.813rem;
  bottom: 0.813rem;
  left: 9.375rem;
  max-height: 100%;
  width: 11.375rem;
  overflow: hidden;
  z-index: 2;
}
.conoc-las-historias {
  position: absolute;
  top: 2.063rem;
  left: 81.475rem;
  width: 1.169rem;
  height: 1.25rem;
  z-index: 2;
}
.te-proporcionamos-una-container {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -1.187rem;
  bottom: 0;
}
.contacto,
.preguntas-frecuentes,
.tiendas {
  position: absolute;
  top: 3.063rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-12xl) var(--padding-xl) var(--padding-8xl) 21.062rem;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-100);
  font-family: var(--font-heebo);
}
.contacto,
.preguntas-frecuentes {
  left: calc(50% + 245px);
}
.contacto {
  left: calc(50% + 482px);
}
.home-inner,
.rectangle3 {
  position: absolute;
  top: 8.25rem;
  left: 0;
  background-color: var(--color-mediumblue);
  z-index: 2;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 21.875rem;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-heebo);
}
.bottom-curve {
  margin-right: -1.188rem;
  margin-bottom: 7rem;
  width: 90rem;
  height: 0.938rem;
}
.home-inner {
  top: 34.625rem;
  background-color: var(--color-orangered-200);
  max-width: 102%;
  flex-shrink: 0;
  z-index: 2;
}
.qu-hacemos {
  position: absolute;
  top: 45.625rem;
  left: 9.375rem;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-heebo);
  color: var(--color-darkslategray-100);
  text-align: left;
  z-index: unset;
}
.nuestro-equipo-de-container {
  position: absolute;
  top: 187.688rem;
  left: 9.375rem;
  line-height: 1.75rem;
  font-family: var(--font-heebo);
  color: var(--color-darkslategray-100);
  text-align: left;
  z-index: unset;
}
.no-dudes-en {
  position: absolute;
  top: 184.688rem;
  left: 9.375rem;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
}
.con-miami-box-container {
  position: absolute;
  top: 208.688rem;
  right: 9.938rem;
  line-height: 1.75rem;
}
.registrate {
  top: 205.688rem;
  right: 34.5rem;
}
.cmo-lo-hacemos,
.registrate,
.testimonios {
  position: absolute;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
}
.cmo-lo-hacemos {
  top: 70.375rem;
  left: 34.125rem;
}
.testimonios {
  top: 156.75rem;
  left: calc(50% - 106px);
  color: var(--color-gainsboro-100);
  text-align: center;
}
.icon {
  position: absolute;
  top: 31.938rem;
  right: 0;
  width: 47.688rem;
  height: 35.813rem;
  object-fit: contain;
  z-index: 3;
}
.capa1-icon {
  position: absolute;
  top: 24.625rem;
  left: -8.312rem;
  width: 19.75rem;
  height: 20.938rem;
  overflow: hidden;
  z-index: unset;
}
.shopping-cart-icon {
  position: absolute;
  top: 0.188rem;
  left: 0;
  width: 36.25rem;
  height: 0.063rem;
  z-index: unset;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 36.063rem;
  background-color: var(--color-mediumblue);
  width: 39.688rem;
  height: 0.313rem;
  z-index: 1;
}
.shopping-cart-icon-parent {
  position: absolute;
  top: 32.563rem;
  left: 14.25rem;
  width: 75.75rem;
  height: 0.313rem;
  z-index: 4;
}
.youngcaucasianwomanmovingnew-1-icon {
  position: absolute;
  top: 34rem;
  left: 3.313rem;
  width: 32.625rem;
  height: 30.875rem;
  object-fit: contain;
  z-index: 2;
}
.vector-32-icon {
  position: absolute;
  margin: 0 !important;
  top: 31.938rem;
  right: 0;
  left: 0;
}
.b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: unset;
}
.b {
  position: absolute;
  top: 2.375rem;
  left: 1.313rem;
  line-height: 1.75rem;
  z-index: 1;
}
.modo-de-aislamiento {
  position: absolute;
  top: 74.75rem;
  left: 34.125rem;
  width: 5.563rem;
  position: relative;
  min-width: 5.563rem;
}
.al-realizar-tu-container {
  position: absolute;
  top: 75.563rem;
  left: 67.75rem;
  line-height: 1.625rem;
  z-index: unset;
}
.mododeaislamiento {
  position: absolute;
  top: 74.75rem;
  left: 60.813rem;
  width: 5.563rem;
  position: relative;
  min-width: 5.563rem;
}
.te-entregamos-tus-container {
  position: absolute;
  top: 84.75rem;
  left: 67.75rem;
  line-height: 1.625rem;
  display: inline-block;
  z-index: unset;
}
.b2 {
  position: absolute;
  top: 36.89%;
  left: 22.47%;
  line-height: 1.75rem;
  z-index: 1;
}
.modo-de-aislamiento-2 {
  position: absolute;
  top: 83.938rem;
  left: 60.813rem;
  width: 5.563rem;
  position: relative;
}
.tus-paquetes-llegan-container {
  position: absolute;
  top: 84.75rem;
  left: 41.063rem;
  line-height: 1.625rem;
  z-index: unset;
}
.modo-de-aislamiento-3 {
  position: absolute;
  top: 83.938rem;
  left: 34.125rem;
  width: 5.563rem;
  position: relative;
  min-width: 5.563rem;
}
.directamente-en-la,
.te-entregamos-tus,
.tu-hogar-en {
  margin: 0;
}
.te-entregamos-tus-container {
  position: relative;
  line-height: 1.625rem;
  z-index: unset;
}
.te-entregamos-tus-paquetes-dir-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.frame-parent1,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  gap: var(--gap-3xl);
  min-width: 22.938rem;
}
.frame-parent1 {
  align-self: stretch;
  gap: var(--gap-30xl);
}
.frame-parent {
  width: 49.625rem;
  height: 16.5rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  font-size: var(--font-size-61xl);
  color: var(--color-gainsboro-100);
}
.youngcaucasianwomanmovingnew-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -1.187rem;
  bottom: 0;
  background-color: var(--color-mediumblue);
  z-index: 3;
}
.home-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home-child2 {
  position: absolute;
  top: 1.25rem;
  left: 1.05rem;
  width: 11.181rem;
  height: 13.081rem;
  z-index: 5;
}
.capa-1-2-icon,
.capa-1-3-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -6.656rem;
  bottom: 0;
}
.capa-1-3-icon {
  bottom: 11.313rem;
}
.capa-1-4-icon,
.capa-1-5-icon,
.layer-1-icon {
  position: absolute;
  top: 0;
  left: 82.15rem;
  width: 6.663rem;
  height: 15.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.capa-1-5-icon,
.layer-1-icon {
  top: 240.188rem;
}
.capa-1-5-icon {
  top: 238.313rem;
  width: 0.813rem;
  height: 0.813rem;
}
.home-child3,
.home-child4 {
  position: absolute;
  top: 165.063rem;
  left: 12.813rem;
  background-color: var(--color-white);
  width: 30.688rem;
  height: 10.688rem;
}
.home-child4 {
  left: 46.938rem;
}
.se-calcula-en {
  font-family: var(--font-heebo);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 1.75rem;
  position: relative;
  line-height: 1.75rem;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.el-costo-del-container,
.lorem-ipsum-dolor-container {
  position: absolute;
  line-height: 1.75rem;
  display: inline-block;
}
.el-costo-del-container {
  top: 102.563rem;
  left: 9.375rem;
  color: var(--color-gainsboro-100);
  width: 68.375rem;
  height: 7.063rem;
}
.lorem-ipsum-dolor-container {
  top: 168.75rem;
  left: 15.688rem;
  width: 24.938rem;
  height: 5.313rem;
}
.cunto-sale {
  position: absolute;
  top: 99.563rem;
  left: 9.375rem;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-heebo);
  color: var(--color-gainsboro-100);
  text-align: center;
  z-index: 1;
}
.nombre-y-apellido {
  position: absolute;
  top: 166.75rem;
  left: 15.688rem;
  font-size: var(--font-size-3xl);
  line-height: 1.75rem;
  z-index: 2;
}
.testimonial-header-parent {
  height: 4.75rem;
  width: 49.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.footer-left-inner {
  width: 66rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.card-content-child {
  width: 30.688rem;
  height: 10.688rem;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.nombre-y-apellido {
  position: relative;
  line-height: 1.75rem;
  z-index: 3;
}
.lorem-ipsum-dolor,
.ut-agittis-tortor {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  width: 24.938rem;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.75rem;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.loremipsumdolorsitametconsecte,
.nombreyapellido {
  position: absolute;
  top: 168.75rem;
  left: 49.813rem;
  line-height: 1.75rem;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.nombreyapellido {
  top: 166.75rem;
  font-size: var(--font-size-3xl);
  width: 14.063rem;
  height: 1.688rem;
}
.capa-1-6-icon {
  position: absolute;
  margin: 0 !important;
  bottom: 4.375rem;
  left: 0;
  object-fit: contain;
  z-index: 2;
}
.rectangle10 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 90rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-32xl) 12.375rem var(--padding-41xl) 9.125rem;
  gap: var(--gap-38xl);
  z-index: 1;
  text-align: center;
  color: var(--color-gainsboro-100);
}
.contactanos {
  position: absolute;
  top: 34.125rem;
  left: 9.375rem;
  font-size: var(--font-size-xl);
  line-height: 1.75rem;
  z-index: 1;
}
.no-dudes-en {
  margin: 0;
  position: absolute;
  top: 31.125rem;
  left: 9.375rem;
  font-size: inherit;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.rectangle10-parent {
  position: absolute;
  left: 43.25rem;
  z-index: unset;
}
.con-miami-box-container {
  top: 55.125rem;
  font-size: var(--font-size-xl);
  line-height: 1.75rem;
}
.registrate {
  margin: 0;
  top: 52.125rem;
  font-size: inherit;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
}
.rectangle10 {
  height: 2.5rem;
  width: 7.25rem;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumblue);
  display: none;
}
.contactanos {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-heebo);
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
  min-width: 6.313rem;
  z-index: 1;
}
.rectangle-10-2 {
  position: absolute;
  top: 40.75rem;
  left: 9.375rem;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.rectangle10-parent:hover {
  background-color: #6b6bff;
}
.rectangle-10-2 {
  height: 2.5rem;
  width: 11rem;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-orangered-200);
  display: none;
}
.quiero-registrarme {
  position: absolute;
  top: 0.375rem;
  right: 0.625rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-heebo);
  color: var(--color-gainsboro-100);
  text-align: left;
  z-index: 1;
}
.rectangle-10-2-parent {
  position: absolute;
  top: 63.375rem;
  left: 43.25rem;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: unset;
}
.convertido01-1-icon {
  position: absolute;
  top: 45.063rem;
  left: 9.375rem;
  width: 27.625rem;
  height: 27.063rem;
  object-fit: contain;
  z-index: 1;
}
.capa-1-7-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.contactanos1 {
  position: absolute;
  top: 6rem;
  left: 0.763rem;
  width: 1.275rem;
  height: 1.875rem;
  z-index: 4;
}
.capa-1-6-parent {
  height: 100%;
  width: 17.563rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -6.375rem;
  bottom: 0;
}
.footer-inner {
  position: absolute;
  top: 9.938rem;
  left: 77.625rem;
  width: 11.188rem;
  height: 36.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  height: 72.125rem;
  position: relative;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-heebo);
}
.contactanos1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 1;
}
.telfono-598-2-container {
  bottom: 4.688rem;
  left: 32.438rem;
  font-size: var(--font-size-base);
  line-height: 2rem;
  z-index: 1;
}
.miami-box-miamiboxuy,
.seguinos,
.telfono-598-2-container {
  position: absolute;
  color: var(--color-gainsboro-100);
}
.seguinos {
  bottom: 13.125rem;
  left: 68.813rem;
  text-transform: uppercase;
  font-weight: 800;
}
.miami-box-miamiboxuy {
  bottom: 8.688rem;
  left: 69.938rem;
  font-size: var(--font-size-base);
  line-height: 2rem;
}
.capa-1-8-icon {
  position: absolute;
  top: 9rem;
  left: 70rem;
  width: 0.813rem;
  height: 0.813rem;
  overflow: hidden;
  z-index: 1;
}
.rectangle-10-3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orangered-200);
  width: 11rem;
  height: 2.5rem;
}
.calcular {
  position: absolute;
  top: 12.938rem;
  left: 32.438rem;
  width: 0.875rem;
  height: 0.875rem;
  overflow: hidden;
  z-index: 1;
}
.rectangle-10-3-parent {
  position: absolute;
  top: 28.75rem;
  left: 16.313rem;
  width: 11rem;
  height: 2.5rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro-100);
}
.costo-en-usd {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.75rem;
}
.capa-1-7-icon,
.capa-1-8-icon {
  top: 6.063rem;
  left: 10.563rem;
  width: 16.563rem;
  height: 5.313rem;
}
.peso-en-kg {
  position: absolute;
  top: 6.5rem;
  left: 0;
  line-height: 1.75rem;
}
.social-media-background-parent {
  height: 19.625rem;
  width: 90rem;
  position: absolute;
  margin: 0 !important;
  top: -6.5rem;
  left: -33.625rem;
}
.tipo-de-encomienda {
  position: absolute;
  top: 13rem;
  left: 0;
  line-height: 1.75rem;
}
.contact-data,
.contact-details,
.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.con-franquicia,
.destino {
  position: absolute;
  line-height: 1.75rem;
}
.destino {
  top: 19.5rem;
  left: 0;
}
.con-franquicia {
  top: 26rem;
  left: 1.438rem;
  font-weight: 500;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 21.813rem;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.contact-info {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.peso,
.precio,
.seleccione-el-destino,
.seleccione-tipo-de {
  position: absolute;
  top: 3rem;
  left: 1.438rem;
  line-height: 1.75rem;
}
.peso,
.seleccione-el-destino,
.seleccione-tipo-de {
  top: 9.375rem;
}
.seleccione-el-destino,
.seleccione-tipo-de {
  top: 15.875rem;
}
.seleccione-el-destino {
  top: 22.375rem;
}
.social-media-links {
  flex-direction: row;
  padding: 0 0 0 var(--padding-mid);
  font-size: var(--font-size-base);
}
.transport-van-car-mock-up-left-icon {
  position: absolute;
  top: 120.813rem;
  left: 55.625rem;
  width: 56.813rem;
  height: 22.625rem;
  object-fit: cover;
}
.icon-chevron-right {
  height: 0.75%;
  width: 1.43%;
  top: 68.23%;
  right: 10.31%;
  bottom: 31.02%;
  left: 88.26%;
}
.icon-chevron-right,
.iconchevronright,
.vector-90-icon,
.vector-91-icon {
  position: absolute;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro-100);
}
.iconchevronright {
  height: 0.75%;
  width: 1.43%;
  top: 68.23%;
  right: 88.29%;
  bottom: 31.02%;
  left: 10.28%;
  object-fit: contain;
}
.vector-90-icon,
.vector-91-icon {
  height: 6.26%;
  width: 15%;
  top: 38.97%;
  right: -7.5%;
  bottom: 54.77%;
  left: 92.5%;
}
.vector-91-icon {
  height: 5.27%;
  width: 12.59%;
  top: 39.47%;
  right: -6.27%;
  bottom: 55.26%;
  left: 93.68%;
}
.vector-92-icon {
  position: absolute;
  top: 5.125rem;
  left: calc(50% + 601px);
  width: 1.188rem;
  height: 1.25rem;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
@media screen and (max-width: 1225px) {
  .navbar-right {
    padding-left: 10.5rem;
    box-sizing: border-box;
  }
  .services-header {
    padding-right: 15.188rem;
    box-sizing: border-box;
  }
  .pricing-title {
    padding-left: var(--padding-56xl);
    box-sizing: border-box;
  }
  .selection-labels {
    flex: 1;
  }
  .selection-card {
    flex-wrap: wrap;
  }
  .footer {
    height: auto;
    min-height: 1154;
  }
  .contact-info-parent {
    gap: 2rem;
    padding-left: var(--padding-84xl);
    padding-right: var(--padding-84xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .contact-info-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .navbar-right {
    gap: var(--gap-mini);
    padding-left: 5.25rem;
    box-sizing: border-box;
  }
  .header {
    padding-bottom: 14.188rem;
    box-sizing: border-box;
  }
  .qu-hacemos {
    font-size: var(--font-size-5xl);
  }
  .services-header {
    padding-right: 7.563rem;
    box-sizing: border-box;
  }
  .cmo-lo-hacemos {
    font-size: var(--font-size-5xl);
  }
  .b,
  .b1,
  .b2,
  .b3 {
    font-size: var(--font-size-21xl);
    line-height: 1.063rem;
  }
  .frame-parent3 {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .cunto-sale {
    font-size: var(--font-size-5xl);
  }
  .pricing-title {
    padding-left: 2.313rem;
    box-sizing: border-box;
  }
  .selection-labels,
  .van-image {
    min-width: 100%;
  }
  .selection-card {
    gap: var(--gap-2xl);
  }
  .no-dudes-en,
  .registrate,
  .testimonios {
    font-size: var(--font-size-5xl);
  }
  .contact-info-parent {
    gap: var(--gap-base);
    padding-left: var(--padding-32xl);
    padding-right: var(--padding-32xl);
    box-sizing: border-box;
  }
  .home {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .el-vuelo-cierra {
    font-size: var(--font-size-base);
  }
  .navbar-right {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .qu-hacemos {
    font-size: var(--font-size-lg);
  }
  .te-traemos-todas-container {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .services-header {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cmo-lo-hacemos {
    font-size: var(--font-size-lg);
  }
  .b {
    font-size: var(--font-size-5xl);
    line-height: 0.688rem;
  }
  .vector-32-parent {
    flex: 1;
  }
  .te-proporcionamos-una-container {
    font-size: var(--font-size-base);
    line-height: 1.313rem;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .b1 {
    font-size: var(--font-size-5xl);
    line-height: 0.688rem;
  }
  .vector-33-parent {
    flex: 1;
  }
  .al-realizar-tu-container {
    font-size: var(--font-size-base);
    line-height: 1.313rem;
  }
  .frame-div {
    flex-wrap: wrap;
  }
  .frame-group {
    gap: var(--gap-10xl);
  }
  .b2 {
    font-size: var(--font-size-5xl);
    line-height: 0.688rem;
  }
  .tus-paquetes-llegan-container {
    font-size: var(--font-size-base);
    line-height: 1.313rem;
  }
  .frame-parent2 {
    flex-wrap: wrap;
  }
  .b3 {
    font-size: var(--font-size-5xl);
    line-height: 0.688rem;
  }
  .vector-34-parent {
    flex: 1;
  }
  .te-entregamos-tus-container {
    font-size: var(--font-size-base);
    line-height: 1.313rem;
  }
  .frame-parent3 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent1 {
    gap: var(--gap-5xl);
  }
  .cunto-sale {
    font-size: var(--font-size-lg);
  }
  .con-franquicia,
  .costo-en-usd,
  .destino,
  .el-costo-del-container,
  .peso,
  .peso-en-kg,
  .precio,
  .seleccione-el-destino,
  .seleccione-tipo-de,
  .tipo-de-encomienda {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .testimonios {
    font-size: var(--font-size-lg);
  }
  .conoc-las-historias,
  .nombre-y-apellido {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .nombre-y-apellido {
    font-size: var(--font-size-lg);
  }
  .lorem-ipsum-dolor-container,
  .nombreyapellido {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .nombreyapellido {
    font-size: var(--font-size-lg);
  }
  .loremipsumdolorsitametconsecte,
  .nuestro-equipo-de-container {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .no-dudes-en {
    font-size: var(--font-size-lg);
  }
  .con-miami-box-container {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .registrate {
    font-size: var(--font-size-lg);
  }
  .contactanos1,
  .seguinos {
    font-size: var(--font-size-base);
  }
  .contact-info-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
